<template>
  <div class="container-scroller">
    <TheHeader />
    <div class="container-fluid page-body-wrapper">
      <Sidebar />
      <div class="main-panel">
        <router-view />
        <TheFooter />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./partials/header";
import Sidebar from "./partials/sidebar";
import Footer from "./partials/footer";
export default {
  name: "App",
  components: {
    TheHeader: Header,
    Sidebar,
    TheFooter: Footer
  }
};
</script>

<style>
</style>