<template>
  <!-- User Interface controls -->
  <b-card>
    <h4 slot="header" class="float-left">{{title}}</h4>

    <b-button v-if="simpleAddLink" slot="header" :href="simpleAddLink" class="float-right">{{resource}}</b-button>

    <b-button-toolbar v-if="toolbar" slot="header" class="float-right" aria-label="Toolbar with button groups and dropdown menu">
      <b-button-group class="mx-1">
        <b-button v-if="toolbarAddLink" :href="toolbarAddLink">Novo</b-button>
        <b-button v-if="toolbarEditLink" :href="toolbarEditLink">Editar</b-button>
        <b-button v-if="toolbarDeleteLink" :href="toolbarDeleteLink">Excluir</b-button>
      </b-button-group>
    </b-button-toolbar>
    <b-row>
      <b-col md="6" class="my-1">
        <b-form-group label-cols-sm="3" label="Filtro" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" debounce="500" placeholder="Digite para pesquisar"></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Limpar</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col md="6" class="my-1">
        <b-form-group label-cols-sm="3" label="Itens por página" class="mb-0">
          <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <div class="table-responsive">
      <!-- Main table element -->
      <b-table show-empty stacked="md" :items="myItemProvider" no-provider-sorting :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection" primary-key="id" empty-text="Não há registros a serem mostrados." empty-filtered-text="Não há registros que satisfaçam sua busca." :busy="isBusy" responsive v-bind="$attrs" v-on="$listeners">
        <template v-for="(_,slot) of $scopedSlots" v-slot:[slot]="scope">
          <slot :name="slot" v-bind="scope" />
        </template>
        <template v-slot:cell(table-busy)>
          <div class="text-center my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Carregando...</strong>
          </div>
        </template>
        <slot></slot>

        <template v-slot:cell(created_at)="row">{{ convertToDate(row.value) }}</template>

        <template v-slot:cell(updated_at)="row">{{ convertToDate(row.value) }}</template>

        <template v-slot:row-details="row">
          <slot :row="row" name="row-details" /></template>
      </b-table>
    </div>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" class="my-0"></b-pagination>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import moment from "moment";
import axios from "axios";
export default {
  name: "DataTable",
  props: [
    "title",
    "href",
    "fields",
    "toolbar",
    "toolbarAddLink",
    "toolbarEditLink",
    "toolbarDeleteLink",
    "simpleAddLink",
    "resource"
  ],
  data() {
    return {
      qm: "?",
      isBusy: false,
      items: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;

    if (this.href.includes("?")) {
      this.qm = "&";
    } else {
      this.qm = "?";
    }
  },
  methods: {
    convertToDate(date) {
      if (!date == "") {
        return moment(date).format("DD/MM/YYYY");
      }
    },
    convertToDatetime(date) {
      if (!date == "") {
        return moment(date).format("DD/MM/YYYY hh:mm:ss");
      }
    },
    toggleBusy() {
      this.isBusy = !this.isBusy;
    },
    myItemProvider(ctx) {
      let self = this;
      if (this.filter == null) {
        return self.getItems(ctx);
      } else {
        return self.doFilter(ctx);
      }
    },
    getItems(ctx) {
      let self = this;
      self.toggleBusy();

      const promise = axios.get(
        self.href + self.qm + "page=" + ctx.currentPage + "&size=" + ctx.perPage
      );

      // Must return a promise that resolves to an array of items
      return promise
        .then(({ data }) => {
          console.log(data);
          // Pluck the array of items off our axios response
          const items = data.data;
          self.items = items;
          self.totalRows = data.total;
          self.currentPage = data.current_page;
          self.toggleBusy();
          // Must return an array of items or an empty array if an error occurred
          return items || [];
        })
        .catch(error => {
          // Here we could override the busy state, setting isBusy to false
          // this.isBusy = false
          // Returning an empty array, allows table to correctly handle
          // internal busy state in case of error
          self.toggleBusy();
          return [];
        });
    },
    doFilter(ctx) {
      let self = this;
      self.toggleBusy();
      const promise = axios.get(
        self.href +
          self.qm +
          "page=" +
          ctx.currentPage +
          "&size=" +
          ctx.perPage +
          "&term=" +
          self.filter
      );

      // Must return a promise that resolves to an array of items
      return promise
        .then(({ data }) => {
          console.log(data);
          // Pluck the array of items off our axios response
          const items = data.data;
          self.items = items;
          self.totalRows = data.total;
          self.currentPage = data.current_page;
          self.toggleBusy();
          // Must return an array of items or an empty array if an error occurred
          return items || [];
        })
        .catch(error => {
          // Here we could override the busy state, setting isBusy to false
          // this.isBusy = false
          // Returning an empty array, allows table to correctly handle
          // internal busy state in case of error
          self.toggleBusy();
          return [];
        });
    }
  }
};
</script>
