<template>
  <draggable class="dragArea" tag="ul" :list="items" :group="{ name: 'g1' }">
    <li v-for="el in items" :key="el.name">
      <p>{{ el.name }}</p>
      <nested-draggable :items="el.items" />
    </li>
  </draggable>
</template>
<script>
import draggable from "vuedraggable";
export default {
  props: {
    items: {
      required: true,
      type: Array
    }
  },
  components: {
    draggable
  },
  name: "nested-draggable"
};
</script>
<style scoped>
.dragArea {
  min-height: 50px;
  outline: 1px dashed;
}
</style>