<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" v-if="pagination.current_page > 1">
        <router-link class="page-link" :to="{ query: { page: pagination.current_page - 1 } }" aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)">
          <span aria-hidden="true">«</span>
        </router-link>
      </li>
      <li v-for="page in pagesNumber" class="page-item" :class="{'active': page == currentPage}" :key="page">

        <router-link class="page-link" :to="{ query: { page } }" v-on:click.prevent="changePage(page)">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="fetching && page == $route.query.page"></span><span v-else>{{ page }}</span></router-link>
      </li>
      <li class="page-item" v-if="pagination.current_page < pagination.last_page">
        <router-link class="page-link" :to="{ query: { page: pagination.current_page + 1 } }" aria-label="Next" v-on:click.prevent="changePage(pagination.current_page + 1)">
          <span aria-hidden="true">»</span>
        </router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  props: {
    pagination: {
      type: Object,
      required: true
    },
    offset: {
      type: Number,
      default: 4
    },
    fetching: {
      default: true
    }
  },
  computed: {
    pagesNumber() {
      if (!this.pagination.to) {
        return [];
      }
      let from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      let to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      let pagesArray = [];
      for (let page = from; page <= to; page++) {
        pagesArray.push(page);
      }
      return pagesArray;
    },
    currentPage() {
      if (this.$route.query.page) {
        return this.$route.query.page;
      } else {
        return this.pagination.current_page;
      }
    }
  },
  methods: {
    changePage(page) {
      this.pagination.current_page = page;
      this.$router.push({ query: { page } });
      this.$emit("paginate");
    }
  }
};
</script>