<template>
  <div class="content-wrapper" id="create">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h1>Criando uma galeria</h1>
            </div>
            <div class="card-body">
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group id="input-group-1" label="Título:" label-for="input-1" description="Digite um título para a galeria.">
                  <b-form-input id="input-1" v-model="form.title" type="text" required placeholder="Digite um título"></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Banner da galeria:" label-for="input-2" description="Opcional, uma imagem para representar a galeria.">
                  <b-form-file id="input-2" v-model="form.image" accept=".jpg, .jpeg, .png, .gif" placeholder="Escolha uma imagem ou arraste-a aqui..." drop-placeholder="Arreste-a aqui..."></b-form-file>
                </b-form-group>

                <b-button type="submit" variant="primary">Criar</b-button>
                <b-button type="reset" variant="warning">Resetar</b-button>
                <b-button :to="{ name: 'galleries.index' }" variant="info">Cancelar</b-button>
              </b-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        title: "",
        image: null
      },
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      let self = this;
      axios.post(window.APP_URL + "/api/galleries", this.form).then(data => {
        self.$router.push({ name: "galleries.index" });
      });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.title = "";
      this.form.image = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style>
</style>