<template>
  <div class="content-wrapper" id="edit">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" v-if="ready">
            <div class="card-header">
              <h1>{{gallery.name}}</h1>
            </div>
            <div class="card-body">
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group id="input-group-1" label="Título:" label-for="input-1" description="Digite um título para a galeria.">
                  <b-form-input id="input-1" v-model="gallery.title" type="text" required placeholder="Digite um título"></b-form-input>
                </b-form-group>
                <b-form-group id="input-group-2" label="Banner da galeria:" label-for="input-2" description="Opcional, uma imagem para representar a galeria.">
                  <b-form-file id="input-2" v-model="gallery.image" accept=".jpg, .jpeg, .png, .gif" placeholder="Escolha uma imagem ou arraste-a aqui..." drop-placeholder="Arreste-a aqui..."></b-form-file>
                </b-form-group>

                <b-button type="submit" variant="primary">Criar</b-button>
                <b-button type="reset" variant="warning">Resetar</b-button>
                <b-button :to="{  name: 'galleries.single', params: { id: gallery.id } }" variant="info">Cancelar</b-button>
              </b-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <image-edit-modal />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      gallery: {},
      ready: false,
      fetching: false,
      show: true
    };
  },
  mounted() {
    this.getGallery();
  },
  methods: {
    getGallery() {
      let self = this;
      self.fetching = true;
      axios
        .get(window.APP_URL + "/api/galleries/" + self.$route.params.id)
        .then(response => {
          self.gallery = response.data;
          self.ready = true;
          self.fetching = false;
        });
    },
    onSubmit(evt) {
      evt.preventDefault();
      let self = this;
      axios
        .put(window.APP_URL + "/api/galleries/" + self.gallery.id, this.gallery)
        .then(data => {
          self.$router.push({
            name: "galleries.single",
            params: { id: self.gallery.id }
          });
        });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.gallery.title = "";
      this.gallery.image = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style>
</style>