<template>
  <div class="content-wrapper">
    <div class="row">
      <div class="col col-lg-8">
        <DataTable class="mb-3" title="Galerias" :fields="fields" :href="app_url + '/api/galleries'">
          <template v-slot:cell(actions)="row">
            <b-button :to="{ name:'galleries.single', params: { id: row.item.slug }}">
              Ver imagens
              <b-icon icon="images"></b-icon>
            </b-button>
            <b-button variant="warning" :to="{ name:'galleries.edit', params: { id: row.item.slug }}">
              Editar <b-icon icon="pencil"></b-icon>
            </b-button>
            <b-button variant="danger" @click="deleteGallery(row.item.id)">
              Excluír <b-icon icon="trash"></b-icon>
            </b-button>
          </template>
        </DataTable>
      </div>
      <div class="col col-lg-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" style="text-transform: none;">Criar uma galeria</h4>
          </div>
          <div class="card-body">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group id="input-group-1" label="Título:" label-for="input-1" description="Digite um título para a galeria.">
                <b-form-input id="input-1" v-model="form.title" type="text" required placeholder="Digite um título"></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-2" label="Banner da galeria:" label-for="input-2" description="Opcional, uma imagem para representar a galeria.">
                <b-form-file id="input-2" v-model="form.image" accept=".jpg, .jpeg, .png, .gif" placeholder="Escolha uma imagem ou arraste-a aqui..." drop-placeholder="Arreste-a aqui..."></b-form-file>
              </b-form-group>

              <b-button type="submit" variant="primary">Criar</b-button>
              <b-button type="reset" variant="danger">Resetar</b-button>
            </b-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DataTable from "../../components/DataTable";
export default {
  components: {
    DataTable
  },
  data() {
    return {
      galleries: [],
      pagination: null,
      ready: false,
      fetching: false,
      empty: false,
      form: {
        title: "",
        image: null
      },
      show: true,
      fields: [
        {
          key: "title",
          label: "Título",
          thAttr: { width: "50%" }
        },
        { key: "actions", label: "Ações" }
      ],
      app_url: ""
    };
  },
  mounted() {
    this.app_url = window.APP_URL;
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      let self = this;
      axios.post(window.APP_URL + "/api/galleries", this.form).then(data => {
        self.$router.go();
      });
    },
    deleteGallery(id) {
      let self = this;
      axios.delete(window.APP_URL + "/api/galleries/" + id).then(data => {
        self.$router.go();
      });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.title = "";
      this.form.image = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style>
</style>