<template>
  <div class="content-wrapper">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header" v-if="ready">
            <h1>Galeria {{gallery.title}}</h1>
          </div>
          <div class="card-body">
            <b-container fluid class="mt-3">
              <b-row v-if="!_.isEmpty(gallery.gallery_images)">
                <b-button class="mb-3" variant="success" v-b-modal.modalAddImage>
                  <b-icon icon="plus" />Adicionar uma imagem
                </b-button>
                <template v-if="view=='reorder'">
                  <b-button class="mb-3" @click="view='gallery'">
                    <b-icon icon="arrows-collapse" />Parar de reordenar
                  </b-button>
                </template>
                <template v-else>
                  <b-button class="mb-3" @click="view='reorder'">
                    <b-icon icon="arrows-expand" />Reordenar
                  </b-button>
                </template>

                <template v-if="view=='deleting'">
                  <b-button class="mb-3" variant="danger" @click="view='gallery'">
                    <b-icon icon="x" />Parar de excluir
                  </b-button>
                </template>
                <template v-else>
                  <b-button class="mb-3" variant="danger" @click="view='deleting'">
                    <b-icon icon="trash" />Excluir uma imagem
                  </b-button>
                </template>
              </b-row>
              <b-row>
                <template v-if="!fetching && !_.isEmpty(gallery.gallery_images)">
                  <template v-if="view=='reorder'">
                    <draggable :list="gallery.gallery_images" tag="ul" class="list-unstyled" :group="{ name: 'images' }" @end="checkMove">
                      <b-media tag="li" class="mt-3 mb-3" v-for="item in gallery.gallery_images" :key="item.id" style="cursor:move;">
                        <template v-slot:aside>
                          <b-img-lazy thumbnail fluid v-bind="reorderProps" :src="link(item.file, 'thumbnail')" :alt="item.title" style="width:120px !important;"></b-img-lazy>
                        </template>
                        <div class="d-flex flex-column justify-content-center align-items-center text-center" style="height:85px;">
                          <template v-if="item.order === 0">
                            <span>
                              <b-icon icon="star-fill"></b-icon>Principal
                            </span>
                          </template>
                          <p class="mb-0">{{item.title}}</p>
                        </div>
                      </b-media>
                    </draggable>
                  </template>
                  <template v-if="view=='deleting'">
                    <b-row v-for="(row,index) in rows" :key="index" class="mt-3">
                      <b-col v-for="item in row" :key="item.id">
                        <div title="Excluir imagem" style="position: relative;" @mouseover="hoverOn(item.id,true)" @mouseleave="hoverOn(item.id,false)" @click="hoverIndex == item.id ? deleteImage(item.id) : null">
                          <b-img-lazy thumbnail fluid v-bind="mainProps" :src="link(item.file, 'thumbnail')" :alt="item.title" :title="item.title" :style="hoverIndex == item.id && 'cursor:pointer;opacity:0.7;'"></b-img-lazy>
                          <b-icon class="centered" icon="x" v-if="hoverIndex == item.id"></b-icon>
                        </div>
                      </b-col>
                    </b-row>
                  </template>
                  <template v-if="view=='gallery'">
                    <b-row v-for="(row,index) in rows" :key="index" class="mt-3">
                      <b-col v-for="item in row" :key="item.id">
                        <b-img-lazy thumbnail fluid v-bind="mainProps" :src="link(item.file, 'thumbnail')" :title="item.title" :alt="item.title"></b-img-lazy>
                      </b-col>
                    </b-row>
                  </template>
                </template>
                <template v-else-if="_.isEmpty(gallery.gallery_images)">
                  <b-container fluid class="d-flex flex-column justify-content-center align-items-center" style="height: 300px;">
                    <p class="mt-3">Não há nenhum arquivo nesta galeria...</p>
                    <b-button v-b-modal.modalAddImage>Cadastrar?</b-button>
                  </b-container>
                </template>
                <template v-else>
                  <b-container fluid class="d-flex flex-column justify-content-center align-items-center" style="height: 300px;">
                    <b-spinner style="width: 5rem; height: 5rem;text-align:center;" label="Large Spinner"></b-spinner>
                    <p class="mt-3">Carregando...</p>
                  </b-container>
                </template>
              </b-row>
            </b-container>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="modalAddImage" centered hide-header hide-footer no-close-on-backdrop no-close-on-esc>
      <validation-observer ref="observer" v-slot="{ passes }">
        <b-form @submit.stop.prevent="passes(onSubmitNewImage)" enctype="multipart/form-data" @reset="onResetNewImage">
          <validation-provider name="título" :rules="{ required: true, min: 3 }" v-slot="validationContext">
            <b-form-group label="Digite o título do arquivo">
              <b-form-input type="text" id="input-1" v-model="newImageTitle" :state="getValidationState(validationContext)" />
              <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <validation-provider name="arquivo" :rules="{ required: true }" v-slot="validationContext">
            <b-form-group label="Escolha um novo arquivo">
              <b-form-file v-model="newImage" :state="getValidationState(validationContext)" placeholder="Escoha ou arraste um novo arquivo..." drop-placeholder="Arraste-a aqui..." id="file-large" browse-text="Buscar"></b-form-file>
              <b-form-invalid-feedback id="file-large-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <b-button type="submit" variant="primary">Adicionar Imagem</b-button>
          <b-button type="reset" variant="danger">Cancelar</b-button>
        </b-form>
      </validation-observer>
    </b-modal>
    <b-modal id="modalAddMultipleImage" centered hide-header hide-footer no-close-on-backdrop no-close-on-esc>
      <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" />
    </b-modal>
  </div>
</template>

<script>
import _ from "lodash";
import draggable from "vuedraggable";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
export default {
  components: {
    draggable,
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      gallery: {
        gallery_images: []
      },
      ready: false,
      fetching: false,
      mainProps: {
        center: true,
        fluidGrow: true,
        blank: true,
        blankColor: "#bbb",
        width: 320,
        height: 240
        // class: "my-5"
      },
      reorderProps: {
        center: true,
        fluidGrow: true,
        blank: true,
        blankColor: "#bbb",
        width: 120,
        height: 120
        // class: "my-5"
      },
      newImage: null,
      newImageTitle: "",
      numberOfColumns: 4,
      view: "gallery",
      reorder: false,
      deleting: false,
      hoverIndex: null,
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 150,
        maxFilesize: 0.5,
        headers: { "My-Awesome-Header": "header value" }
      }
    };
  },
  computed: {
    rows() {
      let rows = [];
      let itemsPerRow = this.numberOfColumns;
      // assuming passer is an array of items..
      let images = this.gallery.gallery_images;

      for (let i = 0; i < images.length; i += itemsPerRow) {
        let row = [];
        for (let z = 0; z < itemsPerRow; z++) {
          if (images[i + z]) {
            row.push(images[i + z]);
          }
        }
        rows.push(row);
      }

      return rows;
    },
    _() {
      return _;
    }
  },
  mounted() {
    this.getGallery();
  },
  methods: {
    checkMove(evt) {
      let self = this;

      console.log(
        "ARRAY",
        _.map(self.gallery.gallery_images, obj => obj.id)
      );

      axios
        .post(
          window.APP_URL +
            "/api/gallery_images/order" +
            "?api_token=" +
            window.API_TOKEN,
          { items: _.map(self.gallery.gallery_images, obj => obj.id) }
        )
        .then(response => {
          self.getGallery();
        });
    },
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    deleteImage(imageId) {
      let self = this;
      axios
        .delete(
          window.APP_URL +
            "/api/gallery_images/" +
            imageId +
            "?api_token=" +
            window.API_TOKEN
        )
        .then(() => {
          self.getGallery();
          self.view = "gallery";
        })
        .catch(() => {});
    },
    hoverOn(i, hover = null) {
      this.hoverIndex = i;
      if (hover) {
        return true;
      } else {
        return false;
      }
    },
    findOrder() {
      if (!_.isEmpty(this.gallery.gallery_images)) {
        return this.gallery.gallery_images.pop().order + 1;
      } else {
        return 1;
      }
    },
    link(file, type) {
      return (
        window.APP_URL +
        "/api/gallery_images/serve?filename=" +
        file +
        "&type=" +
        type +
        "&api_token=" +
        window.API_TOKEN
      );
    },
    getGallery() {
      let self = this;
      self.fetching = true;
      axios
        .get(window.APP_URL + "/api/galleries/" + self.$route.params.id)
        .then(response => {
          self.gallery = response.data;
          self.ready = true;
          self.fetching = false;
        })
        .catch(() => {
          self.ready = false;
          self.fetching = false;
          self.$router.push({ name: "galleries.index" });
        });
    },
    onSubmitNewImage() {
      let data = new FormData(),
        self = this;
      data.append("file", self.newImage);
      data.append("galleryId", self.gallery.id);
      data.append("title", self.newImageTitle);
      data.append("order", self.findOrder());
      axios
        .post(window.APP_URL + "/api/gallery_images", data)
        .then(({ data }) => {
          self.getGallery();
          self.onResetNewImage();
        });
    },
    onResetNewImage() {
      // Reset our form values
      this.newImageTitle = "";
      this.newImage = null;
      this.$bvModal.hide("modalAddImage");
      this.$nextTick(() => {
        this.$refs.observer.reset();
      });
    }
  }
};
</script>

<style scoped>
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
</style>