<template>
  <div class="content-wrapper" id="create">
    <b-container fluid>
      <b-row>
        <b-col>
          <b-card>

          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-modal id="modalAddImage" centered hide-header hide-footer no-close-on-backdrop no-close-on-esc>
      <validation-observer ref="observer" v-slot="{ passes }">
        <b-form @submit.stop.prevent="passes(onSubmitNewImage)" enctype="multipart/form-data" @reset="onResetNewImage">
          <validation-provider name="título" :rules="{ required: true, min: 3 }" v-slot="validationContext">
            <b-form-group label="Digite o título do arquivo">
              <b-form-input type="text" id="input-1" v-model="newImageTitle" :state="getValidationState(validationContext)" />
              <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <validation-provider name="arquivo" :rules="{ required: true }" v-slot="validationContext">
            <b-form-group label="Escolha um novo arquivo">
              <b-form-file v-model="newImage" :state="getValidationState(validationContext)" placeholder="Escoha ou arraste um novo arquivo..." drop-placeholder="Arraste-a aqui..." id="file-large" browse-text="Buscar"></b-form-file>
              <b-form-invalid-feedback id="file-large-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>
          <b-button type="submit" variant="primary">Adicionar Imagem</b-button>
          <b-button type="reset" variant="danger">Cancelar</b-button>
        </b-form>
      </validation-observer>
    </b-modal>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>