<template>
  <div class="content-wrapper">
    <div class="row">
      <div class="col col-lg-8">
        <DataTable class="mb-3" title="Categorias" :fields="fields" :href="app_url + '/api/categories'">
          <template v-slot:cell(actions)="row">
            <b-button :to="{ name:'categories.single', params: { id: row.item.slug }}">
              Ver imagens
              <b-icon icon="images"></b-icon>
            </b-button>
            <b-button variant="warning" :to="{ name:'categories.edit', params: { id: row.item.slug }}">
              Editar <b-icon icon="pencil"></b-icon>
            </b-button>
            <b-button variant="danger" @click="deleteGallery(row.item.id)">
              Excluír <b-icon icon="trash"></b-icon>
            </b-button>
          </template>
        </DataTable>
      </div>
      <div class="col col-lg-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" style="text-transform: none;">Criar uma categoria</h4>
          </div>
          <div class="card-body">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group id="input-group-1" label="Título:" label-for="input-1" description="Digite um título para a categoria.">
                <b-form-input id="input-1" v-model="form.name" type="text" required placeholder="Digite um título"></b-form-input>
              </b-form-group>
              <nested-draggable :items="items" />
              <b-button type="submit" variant="primary">Criar</b-button>
              <b-button type="reset" variant="danger">Resetar</b-button>
            </b-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import nestedDraggable from "../../components/nested-draggable";
import DataTable from "../../components/DataTable";
export default {
  components: {
    DataTable,
    nestedDraggable
  },
  data() {
    return {
      categories: [],
      pagination: null,
      ready: false,
      fetching: false,
      empty: false,
      form: {
        name: ""
      },
      show: true,
      fields: [
        {
          key: "name",
          label: "Nome",
          thAttr: { width: "50%" }
        },
        { key: "actions", label: "Ações" }
      ],
      app_url: ""
    };
  },
  created() {
    this.app_url = window.APP_URL;
    this.getCategories();
  },
  computed: {
    items() {
      let arr = [],
        row,
        name,
        items;

      _.forEach(this.categories, parent => {
        if (parent.children.length > 0) {
          arr.push({
            name: parent.name,
            items: _.forEach(parent.children, child => {
              if (child.children && child.children.length > 0) {
                row = {
                  name: child.name,
                  items: child.children
                };
              } else {
                row = {
                  name: child.name,
                  items: []
                };
              }
              return row;
            })
          });
        } else {
          arr.push({
            name: parent.name,
            items: []
          });
        }
      });

      return arr;
    }
  },
  methods: {
    getCategories() {
      let self = this;
      axios
        .get(self.app_url + "/api/categories")
        .then(({ data }) => {
          self.categories = data.data;
        })
        .catch(error => {});
    },
    onSubmit(evt) {
      evt.preventDefault();
      let self = this;
      axios.post(window.APP_URL + "/api/categories", this.form).then(data => {
        self.$router.go();
      });
    },
    deleteGallery(id) {
      let self = this;
      axios.delete(window.APP_URL + "/api/categories/" + id).then(data => {
        self.$router.go();
      });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.name = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>

<style>
</style>