<template>
  <div class="content-wrapper" id="create">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h1>Criando um produto</h1>
            </div>
            <div class="card-body">
              <validation-observer ref="observer" v-slot="{ passes }">
                <b-form @submit.stop.prevent="passes(onSubmitNew)" @reset="onResetNew" enctype="multipart/form-data">
                  <validation-provider name="nome" :rules="{ required: true, min: 3 }" v-slot="validationContext">
                    <b-form-group id="input-group-1" label="Nome:" label-for="input-1">
                      <b-form-input id="input-1" v-model="form.name" type="text" required placeholder="Digite um nome para o produto" :state="getValidationState(validationContext)"></b-form-input>
                      <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                  <validation-provider name="detalhes" :rules="{ min: 10 }" v-slot="validationContext">
                    <b-form-group id="input-group-textarea-2" label="Detalhes:" label-for="textarea-2">
                      <b-form-textarea id="textarea-2" v-model="form.details" placeholder="Digite detalhes do produto..." rows="3" max-rows="6" :state="getValidationState(validationContext)"></b-form-textarea>
                      <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                  <validation-provider name="descrição" :rules="{ min: 10 }" v-slot="validationContext">
                    <b-form-group id="input-group-textarea-3" label="Descrição:" label-for="textarea-3">
                      <b-form-textarea id="textarea-3" v-model="form.description" placeholder="Digite uma descrição detalhada para o produto..." rows="3" max-rows="6" :state="getValidationState(validationContext)"></b-form-textarea>
                      <b-form-invalid-feedback id="input-1-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                  <validation-provider name="categoria" :rules="{ required: true }" v-slot="validationContext">
                    <b-form-group id="input-group-4" label="Categoria:" label-for="input-4">
                      <b-form-select id="input-4" v-model="form.category" class="mb-3" :state="getValidationState(validationContext)">
                        <b-form-select-option :value="null">Selecione uma categoria para o produto</b-form-select-option>
                        <b-form-select-option-group v-for="category in categories" :key="category.id" :label="'Categoria '+category.name">
                          <b-form-select-option :value="category.id">{{category.name}}</b-form-select-option>
                          <b-form-select-option v-for="child in category.children" :key="child.id" :value="child.id">{{child.name}}</b-form-select-option>
                        </b-form-select-option-group>
                      </b-form-select>
                      <b-form-invalid-feedback id="input-4-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                  <validation-provider name="arquivo" :rules="{ required: true }" v-slot="validationContext">
                    <b-form-group label="Escolha uma imagem inicial para representar o produto">
                      <b-form-file v-model="newImage" :state="getValidationState(validationContext)" placeholder="Escoha ou arraste um novo arquivo..." drop-placeholder="Arraste-a aqui..." id="file-large" browse-text="Buscar"></b-form-file>
                      <b-form-invalid-feedback id="file-large-live-feedback">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                    </b-form-group>
                  </validation-provider>
                  <b-button type="submit" variant="primary">Criar</b-button>
                  <b-button type="reset" variant="danger">Resetar</b-button>
                  <b-button :to="{name:'products.index'}" variant="warning">Cancelar</b-button>
                </b-form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newImage: null,
      form: {
        name: "",
        category: null,
        details: "",
        description: ""
      },
      app_url: ""
    };
  },
  mounted() {
    this.app_url = window.APP_URL;
    this.getCategories();
  },
  methods: {
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    onResetNew() {
      // Reset our form values
      this.form.name = "";
      this.form.details = "";
      this.form.description = "";

      this.$nextTick(() => {
        this.$refs.observer.reset();
      });
    },
    getCategories() {
      let self = this;
      axios
        .get(self.app_url + "/api/categories")
        .then(({ data }) => {
          self.categories = data.data;
        })
        .catch(error => {});
    },
    onSubmitNew() {
      let data = new FormData(),
        self = this;
      data.append("form", self.form);
      data.append("title", self.newImageTitle);
      data.append("file", self.newImage);
      axios.post(window.APP_URL + "/api/products", data).then(data => {
        self.$router.push({ name: "products.index" });
        self.onResetNew();
      });
    }
  }
};
</script>

<style>
</style>