<template>
  <div class="content-wrapper" id="edit">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" v-if="ready">
            <div class="card-header">
              <h1>{{product.name}}</h1>
            </div>
            <div class="card-body">
              <!-- <form action="{{route('products.update',$product->id)}}" method="POST"> -->
              <!-- @csrf -->
              <!-- @method('PUT') -->
              <div class="form-group">
                <label for="exampleInputName1">Nome</label>
                <input type="text" class="form-control" id="exampleInputName1" v-model="product.name" placeholder="Nome">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Slug</label>
                <input type="email" class="form-control" id="exampleInputEmail3" v-model="product.slug" placeholder="Slug" readonly>
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Gerado automaticamente, baseado no nome.
                </small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Sumario</label>
                <input type="text" class="form-control" id="exampleInputPassword4" v-model="product.details" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputCity1">Preço</label>
                <!-- <input type="text" class="form-control" id="exampleInputCity1" value="{{ $product->price ?? old('price') }}" placeholder="Location"> -->
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Descrição</label>
                <!-- <textarea class="form-control" id="exampleTextarea1" rows="2">{{ $product->description ?? old('description') }}</textarea> -->
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#image-modal">
                      Enviar fotos
                    </button>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Salvar</button>
              <button class="btn btn-light">Cancelar</button>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <image-edit-modal />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {},
      ready: false,
      fetching: false
    };
  },
  mounted() {
    this.getProduct();
  },
  methods: {
    getProduct() {
      let self = this;
      self.fetching = true;
      axios
        .get(window.APP_URL + "/api/products/" + self.$route.params.id)
        .then(response => {
          self.product = response.data;
          self.ready = true;
          self.fetching = false;
        });
    }
  }
};
</script>

<style>
</style>