<template>
  <div class="content-wrapper">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header" v-if="ready">
            <h1>{{product.name}} - <router-link :to="{ name: 'products.edit', params: { id: product.id }}"> <i class="fas fa-pencil-alt"></i> Editar</router-link>
            </h1>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {},
      ready: false,
      fetching: false
    };
  },
  mounted() {
    this.getProduct();
  },
  methods: {
    getProduct() {
      let self = this;
      self.fetching = true;
      axios
        .get(window.APP_URL + "/api/products/" + self.$route.params.id)
        .then(response => {
          self.product = response.data;
          self.ready = true;
          self.fetching = false;
        });
    }
  }
};
</script>

<style>
</style>