<template>
  <footer class="footer">
    <div class="container-fluid clearfix">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © {{ new Date().getFullYear() }} Aloha Web Store. Todos os direitos reservados.</span>
      <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i> -->
      </span>
    </div>
  </footer>
</template>

<script>
export default {
  name: "TheFooter"
};
</script>

<style>
</style>