<template>
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" style="position:fixed;width:210px;">
      <!-- {{-- <li class="nav-item nav-category">Main Menu</li> --}} -->
      <li class="nav-item">
        <router-link class="nav-link" :to="{ name: 'index' }">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Dashboard</span>
        </router-link>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" :aria-expanded="$route.name.includes('categories')" aria-controls="ui-basic" :class="$route.name.includes('categories') && 'router-link-exact-active'">
          <i class="menu-icon typcn typcn-coffee"></i>
          <span class="menu-title">Categorias</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic" :class="$route.name.includes('categories') && 'show'">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'categories.index' }">Todas as Categorias</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'categories.create' }">Criar uma Categoria</router-link>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" :aria-expanded="$route.name.includes('products')" aria-controls="ui-basic" :class="$route.name.includes('products') && 'router-link-exact-active'">
          <i class="menu-icon typcn typcn-coffee"></i>
          <span class="menu-title">Produtos</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic2" :class="$route.name.includes('products') && 'show'">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'products.index' }">Todos os Produtos</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'products.create' }">Criar um Produto</router-link>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" :aria-expanded="$route.name.includes('galleries')" aria-controls="ui-basic2" :class="$route.name.includes('galleries') && 'router-link-exact-active'">
          <i class="menu-icon typcn typcn-coffee"></i>
          <span class="menu-title">Galerias</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" :class="$route.name.includes('galleries') && 'show'" id="ui-basic3">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'galleries.index' }">Todas as Galerias</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'galleries.create' }">Criar uma Galeria</router-link>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Sidebar"
};
</script>

<style lang="scss" scoped>
.router-link-exact-active {
  color: #fff !important;
  &:before {
    background: #fff !important;
  }
}
.router-link-active {
  color: #fff;
}
</style>